<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Register</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/css/util.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" href="/style.css">
<!--===============================================================================================-->
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#page-top"> <img
				class="img-fluid" src="/images/logo.png" alt="" />
			</a>
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				Menu <i class="fa fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav text-uppercase ml-auto">
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="/">Home</a></li>
					<li class="nav-item"><a
						class="nav-link js-scroll-trigger active" href="/login">Login</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="limiter">
		<div class="container-login100"
			style="background-image: url('/images/bg-01.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41"> Account Login </span>
				<form class="login100-form validate-form p-b-33 p-t-5"
					th:object="${registerForm}" th:action="@{/checkregister}"
					method="POST">
					<div th:class="${msgError} ? 'alert alert-danger text-center' : ''">
						<span th:text="${msgError}"></span>
					</div>
					<div class="wrap-input100 validate-input"
						data-validate="Enter username">
						<input class="input100" type="text" th:field="*{username}"
							placeholder="User name"> <span class="focus-input100"
							data-placeholder="&#xe82a;"></span> <span class=""
							th:if="${#fields.hasErrors('username') }" th:errors="*{username}"
							style="color: red;margin-left: 20%;"></span>
					</div>

					<div class="wrap-input100 validate-input"
						data-validate="Enter password">
						<input class="input100" type="password" th:field="*{password}"
							placeholder="Password"> <span class="focus-input100"
							data-placeholder="&#xe80f;"></span> <span class=""
							th:if="${#fields.hasErrors('password') }" th:errors="*{password}"
							style="color: red;margin-left: 20%;"></span>
					</div>

					<div class="wrap-input100 validate-input"
						data-validate="Enter password">
						<input class="input100" type="password" th:field="*{cfmpassword}"
							placeholder="Confirm Password"> <span
							class="focus-input100" data-placeholder="&#xe80f;"></span> <span
							class="" th:if="${#fields.hasErrors('cfmpassword') }"
							th:errors="*{cfmpassword}" style="color: red;margin-left: 20%;"></span>
					</div>

					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn">Register</button>
						<a class="login100-form-btn m-l-10" href="/login">Login</a>
					</div>

				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<!-- 	<script src="/js/main.js"></script> -->

</body>
</html>