<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Error 500</title>
<link rel="stylesheet" type="text/css" href="css/error.css" th:href="@{/css/error.css}">

</head>

<body class="loading">
	<h1>500</h1>
	<h2>
		Unexpected Error <b>:(</b><br>
		<a href="/search" class="text-center">Return</a>
	</h2>

	<div class="gears">
		<div class="gear one">
			<div class="bar"></div>
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
		<div class="gear two">
			<div class="bar"></div>
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
		<div class="gear three">
			<div class="bar"></div>
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script type="text/javascript">
		$(function() {
			setTimeout(function() {
				$('body').removeClass('loading');
			}, 1000);
		});
	</script>

</body>
</html>